<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      <span><img class="title-image" src="img/logo.png" /></span>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="title-wrapper">
      <img class="auth-logo" src="img/auth_logo.png" />
      <h1 class="auth-title">Connexion</h1>
    </div>
    <div class="row related-navigation">
      <div class="col">
        <a class="nav-left button button-clear" ui-sref="auth.forgot-password">
          Mot de passe oublié
        </a>
        <a class="nav-right button button-clear" ui-sref="auth.signup">
          S'inscrire
        </a>
      </div>
    </div>
    <div class="row form-wrapper">
      <div class="col">
        <form name="login_form" class="" ng-keyup="$event.keyCode == 13 && doLogIn()" ng-submit="doLogIn()" validate>
          <div class="form-fields-outer list list-inset">
            <label class="item item-input">
              <input type="email" placeholder="Adresse mail" name="email" ng-model="user.email" ng-model-options="{ updateOn: 'mousedown blur' }" required>
            </label>
            <div class="error-msg" role="alert" ng-show="login_form.email.$touched || login_form.$submitted">
              <span class="error" ng-show="login_form.email.$error.required && login_form.email.$dirty">
                Ce champ est obligatoire.</span>
              <span class="error" ng-show="login_form.email.$error.email">
                Cet email est invalide</span>
            </div>
            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Mot de passe" name="password" ng-model="user.password" ng-model-options="{ updateOn: 'mousedown blur' }" required show-hide-input>
            </label>
            <div class="error-msg" role="alert" ng-show="login_form.password.$touched || login_form.$submitted">
              <span class="error" ng-show="login_form.password.$error.required">
                Ce champ est obligatoire.</span>
            </div>
            <p ng-show="error" class="error-msg">{{error}}</p>
          </div>
        </form>
      </div>
    </div>
    <div class="login-btns" ng-hide="isKeyboardShown">
      <button type="submit" class="log-in button button-theme" ng-click="doLogIn()" >
                Se connecter
        </button>
      <button type="submit" class=" hide log-in button button-fb" ng-click="facebookSignIn()">
              Via Facebook
        </button>
        <a class="link login-link center ng-hide" ui-sref="auth.forgot-password">mot de passe oublié</a>
        <a class="link login-link center" ui-sref="auth.signup">S'inscrire</a>
    </div>
  </ion-content>

</ion-view>
