<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      <span><img class="title-image" src="img/logo.png" /></span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <a class="button button-clear button-light" ui-sref="app.bookings.home">
        Skip  
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <form name="signup_form" class="" novalidate>
  <ion-content>
    <div class="title-wrapper">
        <h1 class="auth-title">Inscription</h1>
        <p class="auth-description">Informations supplémentaires</p>
    </div>
    <div class="row form-wrapper">
      <div class="col">
          <div class="form-fields-outer list list-inset">
            <label class="item item-input field">
              <input type="text" placeholder="Prénom" name="Prénom" ng-model="newUser.firstname" required>
            </label>
            <label class="item item-input field">
              <input type="text" placeholder="Nom" name="Nom" ng-model="newUser.lastname" required>
            </label>
            <label class="item item-input field">
              <input type="telephone" placeholder="Numéro de téléphone" name="Téléphone" ng-model="newUser.phone" required>
            </label>
            <label class="item item-input field">
              <input type="text" placeholder="Adresse" name="Adresse" ng-model="newUser.address" required >
            </label>
            <label class="item item-input field">
              <input type="text" placeholder="Complément d'adresse" name="Adresse cont." ng-model="newUser.address2" required >
            </label>
<!--
            <label class="item item-input field" >
              <input type="text" placeholder="Code postal" name="Code Postal" ng-model="newUser.codepostal" required >
            </label>
            <label class="item item-input field">
              <input type="text" placeholder="Ville" name="Ville" ng-model="newUser.city" required >
            </label>
-->
          </div>
          <p ng-show="error" class="message error">{{error}}</p>
  
      </div>
    </div>
  </ion-content>
  <div class="login-btns fixed">
      <button type="submit" class="log-in button button-theme" ng-click="doSignUp()" ng-disabled="signup_form.$invalid">
              Valider
      </button>
  </div>
  </form>
</ion-view>