<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      <span><img class="title-image" src="img/logo.png" /></span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <a class="button button-clear button-light" ui-sref="app.bookings.home">

      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <form name="signup_form" class="" novalidate>
  <ion-content >
    <div class="title-wrapper">
        <img class="auth-logo" src="img/auth_logo.png"/>
        <h1 class="auth-title">Inscription</h1>
    </div>
    <div class="row form-wrapper">
      <div class="col">
          <div class="form-fields-outer list list-inset">
            <label class="item item-input field">
              <input type="email" placeholder="Adresse mail" name="email" ng-model="newUser.email" required>
            </label>
            <div class="error-msg" role="alert">
                <span class="error" ng-show="signup_form.email.$error.required">
                Ce champ est obligtoire.</span>
                <span class="error" ng-show="signup_form.email.$error.email">
                L'adresse email est invalide</span>
            </div>
            <label class="item item-input field" show-hide-container>
              <input type="password" placeholder="Mot de passe" name="password" ng-model="newUser.password" required show-hide-input>
            </label>
          </div>
          <p ng-show="error" class="message error">{{error}}</p>
        <a class="link login-link center" ui-sref="auth.login">
          Je suis déjà inscrit(e),<br>je me connecte
        </a>

      </div>
    </div>
  </ion-content>
  <div class="login-btns fixed">
      <button type="submit" class="log-in button button-theme" ng-click="doSignUp()" ng-disabled="signup_form.$invalid">
              S'inscrire
      </button>
  </div>
  </form>
</ion-view>
