<div class="select-option-wrapper">


    <div>
        </div>
    <div>

        <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 500px">

        <ion-list ng-repeat="skill in selectedProvider.skillsandprice">
            <ion-item  class="item-borderless">

                <ion-checkbox class="item-borderless" ng-model="skill.selected">

                    <div class="card item-text-wrap item-borderless">
                        <div class="item">
                            {{skill.description}}
                        </div>

                        <div class="item">
                            {{skill.price}} {{(skill.cur==='eur'?'€':'$')}}
                        </div>
                    </div>

                </ion-checkbox>
            </ion-item>
        </ion-list>
        </ion-scroll>


    </div>
    <div class="col text-center">

<!--        <button class="button button-small button-positive" ng-click="navigateToProviderSchedule(provider)">
            Réserver
        </button>-->
    </div>
<!--
<span class="popup-product-title">Services proposés</span>
<div class="separator-line"></div>
-->



</div>
