/*
 * Book base styles
 */
.item-borderless {
  padding: 5px 0;
}
.item-checkbox {
  padding-left: 0px;
  padding-right: 50px;
}
.checkbox {
  padding-right: 0;
}
.checkbox-icon 
{
  float: right;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before
  {
    background-color: $theme-color-2;
    border-color: $theme-color-2;
  }
.item-text {
  display: inline-block;
  vertical-align: middle;
  color: $provider-qualification-color;
}

/*
 * Book home styles
 */

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.address-search {
  width: 86%;
  margin: 0;
  float: left;
}
.icon-filter {
  margin-top: 12px;
  margin-left: 5px;
}
ion-card
{ 
  img 
  {
    height: 140px;
    width: 100vw;
    object-fit: cover;
  }
  ion-card-content {
    padding: 10px 0;
  }
}
ion-card-title
{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-left: 20px;
}
.products-list {
  padding-top: 20px;
}
.product-list-item
{
  .list.card
  {
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 10px rgba(200,200,200,0.5);
    @include border-radius(0px);
    .item{
      @include border-radius(0px);
    }
  }
  .item
  {
    position: relative;
    height: $provider-height;
    padding: 0;
    border-bottom: none;
    img 
    {
      display: inline-block;
      object-fit: cover;
      height: $provider-height;
      width: $provider-height;
      float: left;
    }
    .description
    {
      position: relative;
      display: block;
      vertical-align: top; 
      height: 100%;
      margin-left: $provider-height;
      padding: 12px 5px 8px 12px;
      .name
      {
        font-weight: 600;
        color: $theme-color-2;
        font-size: 16px;
      }
      .price
      {
        
        position: absolute;
        right: 10px;
        top: 10px;
        color: $theme-color-2; 
        padding: 0;
        font-size: 16px;
        font-weight: 400;
      }
      .row
      {
        padding: 3px 0;
      }
      .name-text
      {
        color: $provider-qualification-color;
        font-size: 12px;
        line-height: 16px;
        white-space: normal;
      }
    }
  }
}
provider-list-item {
  
}

/*
 * Subcategories
 */
ion-card .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
ion-card .item.item-accordion.ng-hide {
    line-height: 0px;
}
ion-card .item.item-accordion.ng-hide-add,
ion-card .item.item-accordion.ng-hide-remove {
    display: block !important;
}


/*
 * Filters popup 
 */
.filter-popup.popup-container .popup {
  background-color: #FFF;
  top: 44px;
  position: fixed;
  width: 100%;
  bottom: 0;
  .popup-head {
    display: none;
  }
}

.top-button {
  padding: 5px 5px;
  button {
    font-size: 18px;
  }
}
.title-filtre {
  margin-top: 15px;
}
.filters-wrapper {
  padding: 10px 30px;
  @include clearfix;
  h2 {
    display: inline-block;
    color: $theme-color-2;
    font-size: 22px;
    font-weight: 300;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 3px;
    padding-left: 10px;
  }
  i {
    display: inline-block;
    width: 18px;
    height: 18px;
    &:before {
      width: 18px;
      height: 18px;
      margin-bottom: 4px;
    }
  }
  .item-borderless {
    padding: 0;
  }
}
.filter-container {
  padding: 5px 20px;
}
.group-container {
  padding: 10px 0 10px 35px;
  width: 100%;
  white-space: normal;
}
.checkbox-container {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  .filter-checkbox {
    display: inline-block;
    padding: 4px 6px;
    border: 1px solid tint($theme-grey, 30%);
    @include border-radius(15px);
    color: $theme-grey;
    font-size: 15px;
    letter-spacing: 2px;
  }
  input {
    display: none;
  }
  input:checked + .filter-checkbox {
    color: $theme-color-2;
    border-color: tint($theme-color-2, 30%);
  }
}
$slider-radius: 26px;
.group-container.price {
  padding-left: 25px;
  padding-right: 10px;
}
.price-range {
  box-sizing: border-box;
  width: 100%;
  td {
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding: 2px 0;
    width: 33%;
    z-index: 1;
    label {
      color: $theme-grey;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      &.container {
        position: relative;
      }
    }
  }
  .s1 .container{
    padding-left: 8px;
  }
  .s3{
    padding-right: 8px;
  }
  input {
    display: none;
  }
}
.state {
  position: relative;
  background-color: transparent;
  border-radius: 50%;
  width: $slider-radius;
  height: $slider-radius;
  text-align: center;
  font-weight: 400;
  z-index: 200;
  input:checked + & {
    background-color: $theme-color-2;
  }
}
.line {
  position: absolute;
  border-bottom: 2px solid tint($theme-grey, 80%);
  width: 100%;
  top: 50%;
  @include transform(translateY(-50%));
  z-index: 1;
}
.s2 .state {
  margin: 0 auto;
}
.s3 .state {
  float: right;
}
.label-row .s1 {
  text-align: left;
}
.label-row .s3 {
  text-align: right;
  padding-right: 0
}
/*
 * Book provider
 */

.add-to-cart-popup, .book-provider {
  .popup {
    position:absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;
    left:0;
    background-color: #FFF;
    border-radius: 4px;
    position: relative;
    @include border-radius(0px);
  }

  .popup-head {
    padding: 0px;
    height: 60px; 
    border: 0;
  }
  .popup-title {
    color: $theme-color-2;
  }
 .title-image  {
    margin-top: 14px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .item-body
  {
    padding: 0;
  }
  .provider-info
  {
    padding: 18px 12px 34px;
  }
  .card-title
  {
    font-weight: 600;
    color: $theme-color-2;
    font-size: 20px;  
    margin: 0;
  }
  .card-description
  {
    color: #b2b2b2;
    font-size: 14px;
    line-height: 16px;
    white-space: normal;
    margin: 7px 0;
  }
  .popup-body {
    padding: 0;
    .list.card {
      margin: 0;
      .item-image {
          max-height: 200px;
          @include border-radius(0px);
      }
    }
  } 
  .list.card {
    margin: 0;
  }
}
.skill-shop {
  padding: 10px 12px;
  border-top: solid 1px lighten(#b2b2b2, 20%);
}
.skill-desc {
  max-width: 75%;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.skill-price {
  float: right;
  font-weight: 600;
}
.popup-buttons {
  min-height: 50px;
  padding: 0;
  .button {
    background-color: $theme-color-2;
    color: #FFF;
    border-radius: 0px;
    font-weight: 500;
    min-height: 50px;
    height: 50px;
    font-size: 14px;
    border: none;
  }
  .close-popup {
    top: 0px;
    position: absolute;
    right: 0px;
    background-color: #FFF;
    color: $theme-color-2; //lighten($shop-text-color, 15%);;
    border: none;
    padding: 8px;
    min-width: 0px;
    min-height: 0px;
    margin: 0px;
    margin-top: -3px;
    display: inline-block;
    font-family: "Ionicons";
    font-size: 26px;
  }
}

/*
 * Add Booking (datepicker)
 */
.book-home-view {
  .list-inset {
    padding: 0;
    * {
      border-left-width: 0;
      border-right-width: 0;
      border-top-width: 0;
    }
  }
  .list {
    padding: 0;
  }
  .item-text {
    font-weight: 500;
  }
  
}
.item-date {
  padding: 0;
  .button-bar-month {
    border-bottom: 1px solid #CCC;
  }
  .button-bar .button {
    background-color: transparent;
  }
}
.item-time {
  background-color: #f1f0f0;
  .item-radio {
    border-bottom: 2px solid #d1d1d1;
  }
  @include border-radius(0px !important);
  * {
    background-color: transparent !important;
  }
}
.item-radio input,
.radio-icon {
  position: absolute !important;
  top: 25% !important;
  right: 16px !important;
  width: $checkbox-width !important;
  height: $checkbox-height !important;
  display: block !important;
  border: 0 !important;
  margin-right: 1px !important;
  background: transparent !important;
  cursor: pointer !important;
  padding: 0 !important;
  -webkit-appearance: none !important;
  float: right !important;

  &:before {
    // what the checkbox looks like when its not checked
    margin-right: 1px;
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    border-width: 0 !important;
    border-style: solid !important;
    border-radius: 50% !important;
    background: $theme-color-2 !important;
    content: ' ' !important;
    @include transition(background-color 20ms ease-in-out);
  }
}

.item-radio input:checked:before,
input:checked + .radio-icon:before {
  border-width: $checkbox-border-width + 1 !important;
}

// the checkmark within the box
.item-radio input:after,
.radio-icon:after {
  position: absolute !important;
  font-size: 26px !important;
  top: -4px !important;
  left: 5px !important;
  display: table !important;
  content: '+' !important;
  color: white;
}
.unchecked-radio {
  position: absolute !important;
  top: 25% !important;
  right: 17px !important;
  width: $checkbox-width !important;
  height: $checkbox-height !important;
  display: block !important;
  border: 1px solid #b2b2b2 !important;
  background: transparent !important;
  cursor: pointer !important;
  padding: 0 !important;
  -webkit-appearance: none !important;
  float: right !important;
  border-radius: 50% !important;
}

/*
 * Recap
 */

.recap-wrapper {
  padding-top: 150px;
  h2 {
    color: $theme-color-2;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    h1 + & {
      margin-top: 20px;
    }
  }
  h3 {
    color: $theme-grey;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  h4 {
    @extend h3;
    margin: 0 !important;
    text-transform: capitalize;
    &:last-child {
      text-transform: lowercase;
    }
  }
  .payment {
    display: table;
    padding: 10px;
    margin: 0 auto;
  }
  .card-container {
    display: table-cell;
    padding: 5px;
    font-size: 13px;
    vertical-align: middle;
    &.left {
      width: 65%; 
      color: grey;
      i {
        font-size: 20px;
      }
    }
    &.right {
      width: 35%; 
    }
  }
  .change-card {
    border: solid 1px #aaaaaa;
    color: grey;
    @include border-radius(5px);
    text-align: center;
    padding: 2px 5px;
    display: inline-block;
    min-height: 0;
    line-height: inherit;
    padding: 3px 4px;
    margin: 5px 0;
    font-size: 14px;
    font-weight: 400;
    &:after {
      content: none;
    }
  }
}

/*
 * Cards-list modal
 */

.cards-list {
  background-color: white !important;
  ion-header-bar {
    background-color: white !important;
    h1 {
      color: $theme-color-2;
    }
  }
  .close-modal {
    i {
      color: $theme-color-2;      
    }
  }
  .cards-select {
    & * {
      background-color: white !important;
      border: none;
    }
  }
  .card-info {
    font-size: 14px;
    color: #111;
  }
  .add-card {
    padding: 16px;
    i {
      float: right;
    }
  }
}