<ion-view>
    <ion-content ng-class="{'background-gray': reservations.length}">
        <ion-refresher pulling-text="Glissez de haut en bas pour rafraîchir..." on-refresh="doRefresh()" ></ion-refresher>
        <div class="no-reservations" ng-hide="reservations.length">
          <div class="calendar">
              <img ng-src="img/icons/calendar.svg">
          </div>
          <h4>Vous n’avez pas de rendez-vous
            programmés pour le moment.</h4>
      
      
        </div>
        <div class="product-list-item provider-list-item active " ng-repeat="reservation in reservations">
            <div class="list card padding">
                <div class="item">
                  <div class="reservation-info">
                  <div class="container-left-side">
                      <h1 class="provider-name"> {{reservation.providerservice.provider.firstname }} {{reservation.providerservice.provider.lastname }}</h1>
                      <div>
                          <h2 class="service-description">{{reservation.providerservice.service.title}} ({{reservation.providerservice.price}} €)  </h2>
                      </div>
                  </div>
                  <div class="container-right-side">
                      <div class="reservation-status">{{reservation.status }}</div>
                      <h2 class="time-date">{{reservation.date | date:'dd/MM/yyyy' }}
                      <br>
                     {{reservation.hour}} </h2>
                  </div>
                  </div>
                
                  <div ng-if="(reservation.reservationInfo.status === 'Confirmé')" class="pay-container">
<!--
                  <button  ng-click="switchCompleted(isSelected,reservation.reservationInfo.res_id)" class="button button-full button-clear reservation-button pay">
                      Payer
                  </button>
-->
                  </div>
                  <button  ng-click="cancelBooking(reservation.reservationInfo.res_id)" class="button button-full button-clear reservation-button cancel" >
                      Annuler
                  </button>

                </div>
            </div>
        </div>

    </ion-content>



</ion-view>

