<ion-view view-title='<img class="title-image" src="img/logo.png" />'  >

    <ion-content>
        <ion-refresher pulling-text="Glissez de haut en bas pour rafraîchir..." on-refresh="doRefresh()" ></ion-refresher>
        <div class="no-reservations" ng-hide="reservations.length">
          <div class="calendar">
              <img ng-src="img/icons/calendar.svg">
          </div>
          <p>Vous n’avez pas de rendez-vous
            programmés pour le moment.</p>
      
      
        </div>
        <div class="product-list-item" ng-repeat="reservation in reservations">
            <div class="list card">
                <div class="item">

                  <div  style="text-align: right">
                  <h2> {{reservation.reservationInfo.status }}</h2>
                  </div>


                  <h1> {{reservation.providerInfo.firstname }} {{reservation.providerInfo.lastname }}</h1>



                  <div  style="text-align: right">
                  <h2>{{reservation.reservationInfo.reservation_date | date:'dd/MM/yyyy' }}
                   {{(reservation.reservationInfo.betweenFrom === reservation.reservationInfo.betweenTo ? '' +
                      reservation.reservationInfo.betweenFrom :  'Entre:' + reservation.reservationInfo.betweenFrom
                      + ' Et: ' + reservation.reservationInfo.betweenTo)}} </h2>

                  </div>


                  <div  style="text-align: left; font-family: Chalkboard; font-size: large">
                      <!-- <h2> Pour:</h2> -->
                      <div  ng-repeat="service in reservation.serviceInfo">
                          <h3>{{service.description}} ({{service.price}} {{((service.cur === "") ? 'eur':'€')}})  </h3>
                      </div>
                  </div>


                  <div ng-if="(reservation.reservationInfo.status === 'Confirmé')" class="">
                  <button  ng-click="switchCompleted(isSelected,reservation.reservationInfo.res_id)" class="button button-full button-clear">
                      Prestation effectuée
                  </button>
                  </div>

                  <div ng-if="(reservation.reservationInfo.status === 'Attente de confirmation') || (reservation.reservationInfo.status === 'Confirmé')" class="">
                      <button  ng-click="cancelBooking(reservation.reservationInfo.res_id)" class="button button-full button-clear" >
                          Annuler réservation
                      </button>
                  </div>

                </div>
            </div>
        </div>

    </ion-content>



</ion-view>

