ion-side-menu {  
  .item {
    background: transparent;
    border: none;
    color: rgba(darken($menu-color, 1%), .8);
    border-left: 3px solid transparent;
    .item-content {
      background: transparent;

      &.activated {
        border-color: transparent;
        background-color: transparent;
        color: $menu-color;

        .menu-text {
          color: $menu-profile-color;
        }
      }
    }

    &.active {
      border-color: transparent;
      background-color: transparent;
      border-left-color: $menu-active-bg;

      .item-content {
        border-color: transparent !important;
        background-color: transparent !important;
        color: $menu-color !important;
      }

      .menu-text {
        color: $menu-color;
        font-weight: 500;
      }
    }

    .menu-text {
      color: rgba(darken($menu-color, 2%), 2);
      margin-left: -5px;
    }
  }
}
.menu-profile
{
  display: block;
  background: $theme-color-2;
  .menu-top-options
  {
    padding: 0px;
    margin: 0px;
    .col {
      padding: 0px;
    }
    height: $menu-top-options-height;
    background-color: $theme-color-2;
    ion-list
    {
      width: 100%
    }
    ion-item
    {
      .item-content
      {
        padding: 35px;
        img 
        {
          display: block;
          margin: 0 auto;
          width: $menu-user-img-width;
          @include border-radius(50%);
          border: solid 3px white;
        }
        .menu-text
        {
          color: $menu-profile-color;
          text-align: center;
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 0.5px;
          margin-left: 6px;
          margin-bottom: 0px;
          margin-top: 25px
        }
      }
      &:last-child
      {
        border-bottom: none;
      }
    }
  }
}

.menu-outer {
  position: relative;
  display: block;
  height: (100- $menu-top-options-height);
  .menu-bottom-options,
  .menu-legal-options
  {
    padding: 0px;
    margin: 0px;

    .col
    {
      padding: 0px;
    }
  }

  .menu-bottom-options
  {
    height: (80 - $menu-top-options-height);
    padding-top: 5vh;
  }
  
  .menu-legal-options {
    position: absolute;
    width: $menu-width;
    bottom: 10px;
    .item-complex.item-icon-left .item-content
    {
      h2
      {
        font-size: 14px;
      }
    }
  }
}
.item-complex.item-icon-left .item-content
{
  padding-left: 25px;
  h2
  {
   font-size: 18px; 
  }
}