ion-nav-bar
{
    ion-header-bar
    {
        background-color: $default-bar-bg !important;
        background: $default-bar-bg !important;
        border: none !important;
        background-size: 0px !important; // To remove bottom border on header 
        box-shadow: 5px 0 6px #eaeaea;
        .title-image {
            margin-top: 14px;
            height: 16px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    *
    {
        color: $default-bar-color;

        .buttons .button-left, .button-right::before
        {
            color: $default-bar-color;
        }
        .buttons button-right::before{
            @include transform(scaleX(1.4));
            margin-right: 10px;

      }
    }
 
}
ion-nav-view {
  //top: 44px;
}

// Preload images aux styles (ratios)
// Auto generate ratios for the whole app (see: http://stackoverflow.com/a/18120181/1116959)
@each $ratio in $pre-img-ratios {
  .pre-img._#{nth($ratio, 1)}_#{nth($ratio, 2)}
  {
    // Conserve aspect ratio (see: http://stackoverflow.com/a/10441480/1116959)
    width: 100%;
    padding-bottom: 10%//#{(nth($ratio, 2) / nth($ratio, 1)) * 100}%;
  }
}

.pre-img
{
  position: relative;
  background-color: $pre-img-bg;

	// If the image is rounded
	&.rounded-image
	{
		border-radius: 50%;
	}

  &.finish-loading
  {
    background-color: transparent;
    border: none;

		img
	  {
			visibility: visible;
			opacity: 1;
	  }
  }

  img
  {
    position: absolute;
		left: 0px;
		top: 0px;
		visibility: hidden;
		opacity: 0;
		@include transition(visibility 0s linear, opacity 0.5s linear);
  }
}

// spinner-on-load
@include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(359deg));
  }
}
.spinner-on-load
{
	position: absolute;
	font-size: $spinner-size;
	width: $spinner-size;
	height: $spinner-size;
	line-height: $spinner-size;
  color: $spinner-color;
	@include animation(spin 2s infinite linear);
	@include calc(top, "50% - #{($spinner-size/2)}");
	@include calc(left, "50% - #{($spinner-size/2)}");
}
ion-spinner.spinner-on-load
{
	@include animation(none);
  stroke: $spinner-color;
	width: $spinner-svg-size;
  height: $spinner-svg-size;
	line-height: inherit;
	@include calc(top, "50% - #{($spinner-svg-size/2)}");
	@include calc(left, "50% - #{($spinner-svg-size/2)}");
}

// Multimedia background
.multi-bg-outer
{
  position: relative;
  background-color: rgba(darken($multi-bg, 10%), 0.7);
  height: 100%;
  @include transition(all ease-in-out .3s);

  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;

  &.finish-loading
  {
    background-color: transparent;
  }

  .bg-overlay
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $overlay-bg;
    z-index: -1;
    opacity: 0.6;
  }

  .multi-bg
  {
    display: none;
  }
}

.modal-view
{
  background-color: $modal-bg;

	ion-header-bar
	{
		background-color: $modal-bg;
	}

  *
  {
    color: $modal-text-color;
  }

  .modal-title
  {
    font-size: 22px;
    font-weight: 400;
		font-size: 16px;
	}
}

.col-100
{
  @include flex(0 0 100%);
  max-width: 100%;
}

.loading-container .loading
{
	background-color: $loading-background-color;
  *
  {
    color: darken($loading-color, 5);
		font-weight: 500;
  }
}
.container {
  padding: 0;
  margin: 0;
  width: 100%;
}
.title-theme{
  display: block;
  height: 30px;
  width: 100%;
  color: $theme-color-2;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.button-theme {
  background-color: $theme-color-2;
  color: #FFF;
  border-radius: 0px;
  font-weight: 500;
  min-height: 50px;
  height: 50px;
  width: 100%;
  font-size: 14px;
  border: none;
  margin: 0;
  margin-top: 5px;
  &:hover {
    color: #FFF;
  }
  &:active,
  &.activated {
     background-color: tint($theme-color-2, 20%);
  }
  &.fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    &:after {
      content: none !important;
    }
  }
}
.fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.scroll {
  height: 100%;
}
.background-gray {
  background-color: #efefef;
  min-height: 100vh;
  &.has-profile-pic{
    padding-top: 40px;
  }
  &.profile {
    height: 120%;
  }
}

.field-card {
  padding: 5px 10px;
  ion-list {
    .toggle-small.item-toggle .toggle{
      top: 10px;
    }
    .list, form {
      background-color: #FFF;
      padding: 10px 20px;
    }
    ion-item, ion-toggle {
      padding: 0;
      border-width: 0;
    }
    .item {
      padding: 0;
      border-width: 0;
    }
    .input-label, p, a, i {
      color: $theme-color-2;
      font-size: 14px;
      font-weight: 600;
    }
    .input-label {
      width: 40%;
    }
    a.item {
      padding: 8px 0;
      i {
        color: $theme-color-2;
        font-weight: 100;
      }
    }
    input {
      color: #b2b2b2;
      font-size: 13px;
      overflow-x: hidden;
      overflow-y: scroll;
      word-wrap: break-word;
    }
    .item-toggle {
      padding: 12px 0;
      .track {
        width: 42px;
        height: 26px;
      }
      .handle{
        height: 21px;
        width: 21px;
        border-radius: 10px;
        left: 8px;
        top: 8px;
      }
      .toggle input:checked + .track {
        border-color: $on-border-color;
        background-color: $on-bg-color;
          .handle {
            -webkit-transform: translate3d(16px, 0, 0);
            transform: translate3d(16px, 0, 0);
            background-color: #FFF;
          }
      }
    }
  }
  &.tall .list .item {
    .input-label {
      align-self: flex-start;
    }
    .address-text {
      height: 80px;
      width: 60%;
      color: #b2b2b2;
      font-size: 13px;
      overflow-x: hidden;
      overflow-y: scroll;
      word-wrap: break-word;
    }
    .message-text {
      height: 180px;
      width: 60%;
      color: #b2b2b2;
      font-size: 13px;
    }
  }
}
.no-padding {
  padding: 0;
}
.icon-filter{
  background-color: transparent;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/filter.svg");
  background-size: cover;
  margin-right: 20px;
}
label.item {
  border: none;
}