<ion-view view-title="" class="book-home-view">

<!--    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Réserver</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>-->

    <ion-content class="padding">

        <div class="card">





 <!--       {{provider.title}} {{provider.firstname}} {{provider.lastname}}-->

        <div class="list">



            <label class="item item-input">
                <div class="row">
                    <div class="col">Date:</div>
                    <div class="col">{{showdate}}</div>
                    <div class="col"><button class="button button-small button-energized" ng-click="openDatePicker()">Choisir</button></div>
                </div>
            </label>

            <label class="item item-input">
                <div class="row">
                    <div class="col">Entre:</div>
                    <div class="col">{{reservation.betweenFrom}}</div>
                    <div class="col"><button class="button button-small button-energized" ng-click="openFromTimePicker()">Choisir</button></div>
                </div>
            </label>

            <label class="item item-input">
                <div class="row">
                    <div class="col">Et:</div>
                    <div class="col">{{reservation.betweenTo}}</div>
                    <div class="col"><button class="button button-small button-energized" ng-click="openToTimePicker()">Choisir</button></div>
                </div>
            </label>



            <div class="list">

                <button class="button button-full button-primary" ng-click="confirmBooking()">Confirmer</button>
            </div>

        </div>
            </div>
    </ion-content>
</ion-view>

