<ion-view view-title="" class="book-home-view">

<!--
top: 45p


<ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Réserver</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>-->





<!--            <div class="row">
                <div class="col col-20 col-offset-10"></div>
                <div class="col col-60">

                    <span> < </span>
                    <span>Décembre</span>
                    <span> > </span>
                </div>
                <div class="col col-20"></div>

            </div>
            <div class="row">
                <div class="col col-10 col-offset-10"></div>
                <div class="col col-80">


                    <span>1 2 3 4 5 6 7 8 9 10 12 13 14 15 16 17</span>

                </div>
                <div class="col col-10"></div>

            </div>-->


<!--    <ion-header-bar class="bar-header bar-dark" style="margin-top: 60px;">

        <h1>
            Testing 1
        </h1>
        <h2>
            Testing  2
        </h2>
&lt;!&ndash;
        <div class="button-bar">
            <a class="button" ng-click="setActive('Résultat')">-</a>
            <a class="button" ng-click="setActive('Résultat')">Décembre</a>
            <a class="button" ng-click="setActive('Résultat')">+</a>
        </div>

        <div class="button-bar">
            <a class="button" ng-click="setActive('Résultat')">-</a>
            <a class="button" ng-click="setActive('Résultat')">6</a>
            <a class="button" ng-click="setActive('Résultat')">+</a>
        </div>&ndash;&gt;
    </ion-header-bar>-->


    <ion-content>


        <div class="card">
            <div class="item item-divider item-borderless">

                <div class="button-bar">
                    <!--<a class="button" ng-click="">-</a>-->
                    <a class="button button-outline button-assertive" ng-click="openDatePicker()">{{showmonth}}</a>
                    <!--<a class="button" ng-click="">+</a>-->
                </div>

                <div class="button-bar">
                    <!--<a class="button" ng-click="">-</a>-->
                    <a class="button" ng-click="openDatePicker()">{{showday}}</a>
                    <!--<a class="button" ng-click="">+</a>-->
                </div>
            </div>


            <div class="item item-text-wrap">
                <ion-list class="list-borderless list-inset">

                    <!--
                                <ion-item class="item-remove-animate item-avatar item-icon-right" style="background-color: #C2A5A5 !important" ng-repeat="detail in details" type="item-text-wrap" ng-controller="ChatsCtrl"  ng-click="openShareModel(detail)">
                                    <img ng-src="{{profilepic.profileimageurl}}">

                                    <h2>{{detail.date | date :'fullDate'}}</h2>
                                    <h2>{{detail.title}}</h2>
                                    <p>{{detail.description}}</p>
                                    <i class="icon ion-chevron-right icon-accessory"></i>

                                    <ion-option-button class="button-assertive" ng-controller="ChatsCtrl" ng-click="remove(detail.id)">
                                        Delete
                                    </ion-option-button>
                                     </ion-item>
                    -->
                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(7,8)" > <h2 style="color: darkgrey"> 07:00 | 08:00 </h2> </ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(8,9)">  <h2 style="color: darkgrey"> 08:00 | 09:00 </h2></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(9,10)">  <h2 style="color: darkgrey">09:00 | 10:00</h2></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(10,11)">  <h2 style="color: darkgrey">10:00 | 11:00</h2></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(11,12)">  <h2 style="color: darkgrey">11:00 | 12:00</h2></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(12,13)">  <h2 style="color: darkgrey">12:00 | 13:00</h2></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(13,14)">  <h2 style="color: darkgrey">13:00 | 14:00</h2></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(14,15)">  <h2 style="color: darkgrey">14:00 | 15:00</h2></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(15,16)">  <h2 style="color: darkgrey">15:00 | 16:00</h2></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(16,17)">  <h2 style="color: darkgrey">16:00 | 17:00</h2></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(17,18)">  <h2 style="color: darkgrey">17:00 | 18:00</h2></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(18,19)">  <h2 style="color: darkgrey">18:00 | 19:00</h2></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(19,20)">  <h2 style="color: darkgrey">19:00 | 20:00</h2></ion-radio>
                        </label>
                    </ion-item>

                    <ion-item>
                        <ion-radio ng-click="selectTimeRange(20,21)">  <h2 style="color: darkgrey">20:00 | 21:00</h2></ion-radio>
                        </label>
                    </ion-item>

                </ion-list>
            </div>
            <div class="item item-divider">
                Désolé aucun service après 21:00.
            </div>
        </div>




            <!-- event-source="eventSource"-->
            <!-- <calendar calendar-mode="mode" noEventsLabel="Réserver" event-source="" time-selected="onTimeSelected(selectedTime, events, disabled)" >
             </calendar>
 -->




  <!--       {{provider.title}} {{provider.firstname}} {{provider.lastname}}-->




    </ion-content>
    <ion-footer-bar>
        <button class="button button-full button-assertive" style="bottom: 10px" ng-click="confirmBooking()">
            Suivant
        </button>
    </ion-footer-bar>
</ion-view>

<!--
            <label class="item item-input">
                <div class="row">
                    <div class="col">Date:</div>
                    <div class="col">{{showdate}}</div>
                    <div class="col"><button class="button button-small button-energized" ng-click="openDatePicker()">Choisir</button></div>
                </div>
            </label>-->

<!--            <label class="item item-input">
                <div class="row">
                    <div class="col">Entre:</div>
                    <div class="col">{{reservation.betweenFrom}}</div>
                    <div class="col"><button class="button button-small button-energized" ng-click="openFromTimePicker()">Choisir</button></div>
                </div>
            </label>

            <label class="item item-input">
                <div class="row">
                    <div class="col">Et:</div>
                    <div class="col">{{reservation.betweenTo}}</div>
                    <div class="col"><button class="button button-small button-energized" ng-click="openToTimePicker()">Choisir</button></div>
                </div>
            </label>-->
