<ion-view class="book-home-view">
    <ion-nav-header></ion-nav-header>
    <ion-content>
        <div class="book-provider select-option-wrapper">
            <div class="list card">
                <div class="item item-image">
                    <img ng-src="http://alphalabx.com:3000/{{provider.picture}}">
                </div>
                <div class="item item-body">
                    <div class="provider-info">
                        <h2 class="card-title">{{provider.firstname}} {{provider.lastname}} {{skill.selected}}</h2>
                        <p class="card-description">
                            <span ng-repeat="single_service in provider.services" class="name-text">
                              {{single_service.service.title}} |
                            </span>
                        </p>
                    </div>
                    <div class="skill-shop">
                        <ion-list>
                            <ion-item class="item-borderless" ng-repeat="single_service in provider.services">
                                <ion-checkbox class="item-borderless"  ng-checked="selection.indexOf(single_service) > -1"
    ng-click="toggleSelection(single_service)">
                                    <div class="item-borderless">
                                        <div class="item-text skill-desc">
                                            {{single_service.service.title}}
                                        </div>
                                        <div class="item-text skill-price">
                                            {{single_service.price}} €
                                        </div>
                                    </div>
                                </ion-checkbox>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <button class="button-theme fixed" ng-click="continuetoDate(provider)"  ng-class="{'disabled-btn': !selection.length}" ng-disabled="!selection.length">
        Suivant
    </button>
</ion-view>
