<ion-view view-title="Selection" class="book-home-view">

<ion-content>
    <div class="list">

        <label class="item item-input item-select">
            <div class="input-label">
                Catégorie
            </div>
            <select  ng-model="filterCategory" ng-change="updateQuery(filterCategory)">
                <option>Toutes</option>
                <option>Coiffure </option>
                <option>Manucure/Pédicure</option>
                <option>Maquillage</option>
                <option>-------------</option>
                <option>Brushing</option>
                <option>Chignon</option>
                <option>Coupe</option>
                <option>Décoloration/Coloration</option>
                <option>Défrisage</option>
                <option>Lissage brésilien</option>
                <option>Nattes</option>
                <option>Nattes collées </option>
                <option>Vanilles</option>
                <option>Piqué-laché</option>
                <option>Locks</option>
                <option>Fausses locks</option>
                <option>Crochets</option>
                <option>Tissage Ouvert</option>
                <option>Tissage Fermé</option>
                <option>Tissage Invisible (américain)</option>
                <option>Tissage U part</option>
                <option>Pose de closure</option>
                <option>Pose de closure élastic band</option>
                <option>Pose Lace Frontale</option>
                <option>Pose perruque</option>
                <option>Retrait tissage</option>
                <option>Extension de cils pose classique</option>
                <option>Extension de cils pose mixte</option>
                <option>Extension de cils pose volume russe</option>
                <option>Remplissage classique</option>
                <option>Remplissage mixte</option>
                <option>Remplissage volume russe</option>
                <option>Dépose extensions et faux cils</option>
                <option>Manucure –pédicure simple</option>
                <option>Manucure – pédicure semi permanent</option>
                <option>Pose de vernis simple (Mains)</option>
                <option>Pose vernis semi permanent (Mains)</option>
                <option>Pose gel avec capsule (Mains)</option>
                <option>Extension au gel (chablon) (Mains)</option>
                <option>Nail art (Mains)</option>
                <option>Pose de vernis simple (Pieds)</option>
                <option>Pose vernis semi permanent (Pieds)</option>
                <option>Pose gel avec capsule (Pieds)</option>
                <option>Extension au gel (chablon) (Pieds)</option>
                <option>Nail art (Pieds)</option>
                <option>Maquillage jour</option>
                <option>Maquillage soir</option>
                <option>Tatouage au henné naturel</option>
                <option>Tatouage au Jagua</option>
                <option>Mariage</option>

            </select>
        </label>
    </div>




  </ion-content>
</ion-view>
