<ion-view class="book-address">
    <ion-content>
        <div class="recap-wrapper">
            <h1 class="title-theme">Recap</h1>
            <h2 class="service-title">{{recap_info.service}}</h2>
            <h3>{{recap_info.provider_name}}</h3>
            <h4>{{recap_info.date | date: 'EEEE, d MMMM'}},</h4>
            <h4>à {{recap_info.hour}}.</h4>
            <h3>{{recap_info.price}}€</h3>
            <div class="payment">
                <div class="card-container left">
                    <i class="ion-card"></i>
                    <span>XXXX.XXXX.XXXX.1234</span>
                </div>
                <div class="card-container right">
                    <button ng-click="showCards()" class="button button-full change-card">
                        Modifier
                    </button>
                </div>
            </div>
            <p ng-show="vouchers == 1">1 bon de réduction appliqué</p>
            <p ng-show="vouchers > 1"> {{vouchers}} bons de réduction appliqués</p>
            
        </div>
    </ion-content>
    <button class="button button-theme fixed" ng-click="confirmBooking()">
        Suivant
    </button>
</ion-view>
