<ion-view view-title="Prestataires" class="book-home-view">


    <ion-content>


      <div ng-if="providers.length == 0">

          <div class="list">

              <label class="item item-input item-select">
                  <div class="input-label">
                      Catégorie
                  </div>
                  <select  ng-model="filterCategory" ng-change="updateQuery(filterCategory)">
                      <option>Toutes</option>
                      <option>Coiffure </option>
                      <option>Manucure/Pédicure</option>
                      <option>Maquillage</option>
                      <option>-------------</option>
                      <option>Brushing</option>
                      <option>Chignon</option>
                      <option>Coupe</option>
                      <option>Décoloration/Coloration</option>
                      <option>Défrisage</option>
                      <option>Lissage brésilien</option>
                      <option>Nattes</option>
                      <option>Nattes collées </option>
                      <option>Vanilles</option>
                      <option>Piqué-laché</option>
                      <option>Locks</option>
                      <option>Fausses locks</option>
                      <option>Crochets</option>
                      <option>Tissage Ouvert</option>
                      <option>Tissage Fermé</option>
                      <option>Tissage Invisible (américain)</option>
                      <option>Tissage U part</option>
                      <option>Pose de closure</option>
                      <option>Pose de closure élastic band</option>
                      <option>Pose Lace Frontale</option>
                      <option>Pose perruque</option>
                      <option>Retrait tissage</option>
                      <option>Extension de cils pose classique</option>
                      <option>Extension de cils pose mixte</option>
                      <option>Extension de cils pose volume russe</option>
                      <option>Remplissage classique</option>
                      <option>Remplissage mixte</option>
                      <option>Remplissage volume russe</option>
                      <option>Dépose extensions et faux cils</option>
                      <option>Manucure –pédicure simple</option>
                      <option>Manucure – pédicure semi permanent</option>
                      <option>Pose de vernis simple (Mains)</option>
                      <option>Pose vernis semi permanent (Mains)</option>
                      <option>Pose gel avec capsule (Mains)</option>
                      <option>Extension au gel (chablon) (Mains)</option>
                      <option>Nail art (Mains)</option>
                      <option>Pose de vernis simple (Pieds)</option>
                      <option>Pose vernis semi permanent (Pieds)</option>
                      <option>Pose gel avec capsule (Pieds)</option>
                      <option>Extension au gel (chablon) (Pieds)</option>
                      <option>Nail art (Pieds)</option>
                      <option>Maquillage jour</option>
                      <option>Maquillage soir</option>
                      <option>Tatouage au henné naturel</option>
                      <option>Tatouage au Jagua</option>
                      <option>Mariage</option>


                  </select>
              </label>

          </div>

            <h3>Prestataires disponibles: {{providers.length}}</h3>
      </div>

    <div ng-if="providers.length > 0">
      <div class="products-list">
          <div class="list">

              <label class="item item-input item-select">
                  <div class="input-label">
                      Catégorie
                  </div>
                  <select  ng-model="filterCategory" ng-change="updateQuery(filterCategory)">
                      <option>Toutes</option>
                      <option>Coiffure </option>
                      <option>Manucure/Pédicure</option>
                      <option>Maquillage</option>
                      <option>-------------</option>
                      <option>Brushing</option>
                      <option>Chignon</option>
                      <option>Coupe</option>
                      <option>Décoloration/Coloration</option>
                      <option>Défrisage</option>
                      <option>Lissage brésilien</option>
                      <option>Nattes</option>
                      <option>Nattes collées </option>
                      <option>Vanilles</option>
                      <option>Piqué-laché</option>
                      <option>Locks</option>
                      <option>Fausses locks</option>
                      <option>Crochets</option>
                      <option>Tissage Ouvert</option>
                      <option>Tissage Fermé</option>
                      <option>Tissage Invisible (américain)</option>
                      <option>Tissage U part</option>
                      <option>Pose de closure</option>
                      <option>Pose de closure élastic band</option>
                      <option>Pose Lace Frontale</option>
                      <option>Pose perruque</option>
                      <option>Retrait tissage</option>
                      <option>Extension de cils pose classique</option>
                      <option>Extension de cils pose mixte</option>
                      <option>Extension de cils pose volume russe</option>
                      <option>Remplissage classique</option>
                      <option>Remplissage mixte</option>
                      <option>Remplissage volume russe</option>
                      <option>Dépose extensions et faux cils</option>
                      <option>Manucure –pédicure simple</option>
                      <option>Manucure – pédicure semi permanent</option>
                      <option>Pose de vernis simple (Mains)</option>
                      <option>Pose vernis semi permanent (Mains)</option>
                      <option>Pose gel avec capsule (Mains)</option>
                      <option>Extension au gel (chablon) (Mains)</option>
                      <option>Nail art (Mains)</option>
                      <option>Pose de vernis simple (Pieds)</option>
                      <option>Pose vernis semi permanent (Pieds)</option>
                      <option>Pose gel avec capsule (Pieds)</option>
                      <option>Extension au gel (chablon) (Pieds)</option>
                      <option>Nail art (Pieds)</option>
                      <option>Maquillage jour</option>
                      <option>Maquillage soir</option>
                      <option>Tatouage au henné naturel</option>
                      <option>Tatouage au Jagua</option>
                      <option>Mariage</option>


                  </select>
              </label>

          </div>
        <div class="product-list-item" ng-repeat="provider in providers">

          <div class="card-4" ng-controller="PickBookingTimeCtrl">


            <div class="card">
              <div class="list card">

                <div class="item item-avatar">
                  <img src="img/sample_images/people/2.jpeg">
                  <h2>{{provider.title}} {{provider.firstname}} {{provider.lastname}}</h2>
                  <!--<p>Inscription: {{provider.membersince}}</p>-->


                    <div class="row" ng-repeat="pricing in provider.Pricing">

                        <h4>{{provider.Pricing.Price}}</h4>

                    </div>

                    <div class="row">
                        <span class="name-text">{{provider.qualification1}}
                          {{provider.qualification2}}
                          {{provider.qualification3}}
                          {{provider.qualification4}}
                        </span>
                    </div>

                    <div class="row">
                        <button class="button button-small" ng-click="showDetails(provider)">
                            Détails
                        </button>
                        <button class="button button-small button-positive" ng-click="bookPerService(provider)">
                            Réserver
                        </button>
                    </div>

<!--                    <div class="product-list-item" ng-repeat="skill in provider.skills">
                        <p>{{skill}}</p>
                    </div>-->



                </div>


                  <script id="details-modal.html" type="text/ng-template">// <![CDATA[


                  <ion-modal-view>


                  <style>
                      @media (max-width: 680px) {
                          .active .modal-backdrop-bg {
                              opacity: .5;
                              transition: opacity 300ms ease-in-out;
                              background-color: #000;
                          }
                      }
                  </style>

                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="list-group">
                                      <a href="#" class="list-group-item active">Home</a>
                                      <div class="list-group-item">
                                          List header
                                      </div>
                                      <div class="list-group-item">
                                          <h4 class="list-group-item-heading">
                                              List group item heading
                                          </h4>
                                          <p class="list-group-item-text">
                                              ...
                                          </p>
                                      </div>
                                      <div class="list-group-item">
                                          <span class="badge">14</span>Help
                                      </div> <a class="list-group-item active"><span class="badge">14</span>Help</a>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </ion-modal-view>
                  // ]]></script>

                  <div class="item">
                      <span class="name-text"> {{provider.profile}} </span>
                  </div>





                  <div class="item item-actions">
                    <button class="action-button icon-left ion-heart button button-small">
                      Like
                    </button>
                    <button class="action-button button button-icon icon ion-android-more-vertical button-small">
                    </button>
                    <button class="right-button action-button button-icon icon ion-share button button-small">
                    </button>
                    <button ng-click="showComments(post)" class="right-button action-button icon-left ion-chatbox button button-small">
                      {{ provider.comments }}
                    </button>

<!--                     <button class="button button-small button-positive" ui-sref="app.book.addbooking">
                          Réserver
                      </button>-->



<!--                    <button class="button button-small button-positive" ng-click="navigateToProviderSchedule(provider)">
                        Réserver
                    </button>-->
                  </div>


                  <!--<script id="addbooking.html" type="text/ng-template">
                      <ion-modal-view>


                          <ion-header-bar class="bar bar-header bar-dark">
                              <h1 class="title">Réserver</h1>
                              <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
                          </ion-header-bar>


                          <ion-content class="padding">

                              {{provider.title}} {{provider.firstname}} {{provider.lastname}}

                              <div class="list list-inset">
                              <label class="item">
                                  <span class="input-label">Le</span>

                              </label>

                              <label class="item item-input">
                                  <span class="input-label">Jour</span>
                                  <input type="text" datetime="yyyy-MM-dd" ng-model="reservation.reservation_date">
                              </label>


                              <label class="item">
                                  <span class="input-label">Entre</span>

                              </label>

                              <label class="item item-input">
                                  <span class="input-label">Heure</span>
                                  <input type="time" ng-model="reservation.betweenFrom">
                              </label>

                              <label class="item">
                                  <span class="input-label">Et</span>

                              </label>

                              <label class="item item-input">
                                  <span class="input-label">Heure</span>
                                  <input type="time" ng-model="reservation.betweenTo">
                              </label>

                              <div class="list">

                                  <button class="button button-full button-primary" ng-click="confirmBooking(provider.email)">Confirmer</button>
                              </div>

                              </div>
                          </ion-content>
                      </ion-modal-view>
                  </script>-->

                </div>

              </div>


          <!--  <div class="list card">

              <div class="item item-image">
                <pre-img ratio="_16_15" helper-class="main-image">
                  <img ng-src="{{provider.picture}}" spinner-on-load>
                </pre-img>
              </div>
              -->
<!--
              <div class="item item-body">
                <div class="col col-50">

                <h2 class="card-title">{{provider.title}} {{provider.firstname}} {{provider.lastname}}</h2>

                <p class="card-description">
                  <a class="card-user-name" ui-sref="app.profile.posts({userId:provider.email})">
                    <span class="card-avatar-image-outer">
                      <pre-img ratio="_1_1" helper-class="avatar-image rounded-image">
                        <img ng-src="{{post.user.picture}}" spinner-on-load>
                      </pre-img>
                    </span>

                    <span class="name-text">{{provider.qualification1}} {{provider.qualification2}} {{provider.qualification3}} {{provider.qualification4}}</span>
                  </a>
                  <span class="post-likes"> + <b>{{ provider.likes }}</b></span>
                </p>


              </div>

              <div class="col col-30">
                  <div class="card">
                    <div class="item item-text-wrap">
                      {{provider.profile}}
                    </div>
                  </div>
              </div>

            </div>
  -->




            </div>

          </div>





          <!-- <div class="row product-title-wrapper">
            <span class="product-title">{{product.title}}</span>
          </div> -->

        </div>
      </div>

    </div>

<!--    <div class="list book-home-options-list">

      <a class="item book-home-option-item" ui-sref="app.book.sale">
        <div class="row">
          <div class="col">
            <pre-img ratio="_2_1" helper-class="shop-home-option-image-outer">
              &lt;!&ndash; <img ng-src="http://lorempixel.com/300/150" spinner-on-load> &ndash;&gt;
              <img ng-src="img/sale.png" spinner-on-load>
            </pre-img>
          </div>
        </div>

        <div class="row option-copy">
          <div class="col col-75">
            <span>Shop Now</span>
          </div>
          <div class="col col-25 option-icon">
            <i class="icon ion-chevron-right"></i>
          </div>
        </div>
      </a>
    </div>-->




  </ion-content>
</ion-view>
