<ion-view class="book-address">
    <ion-content>
        <div class="recap-wrapper">
            <h1 class="title-theme">Recap</h1>
            <h2 class="service-title">{{recap_info.service}}</h2>
            <h3>{{recap_info.provider_name}}</h3>
            <h4>{{recap_info.date | date: 'EEEE, d MMMM'}},</h4>
            <h4>à {{recap_info.hour}}.</h4>
            <h3>{{recap_info.price}}€</h3>
            <div class=payment ng-hide="cards.length">Vouz n'avez pas encore renseigné de moyen de paiement.</div>
            <div class="payment" ng-show="cards.length">
                <div class="card-container left">
                    <i class="ion-card"></i>
                    <span>XXXX.XXXX.XXXX.{{cardToPay.last4}}</span>
                </div>
                <div class="card-container right">
                    <button ng-click="showCards()" class="button button-full change-card">
                        Modifier
                    </button>
                </div>
            </div>
            <p ng-show="!vouchers || vouchers 1">Frais de réservation: 5€</p>

        </div>
    </ion-content>
    <button class="button button-theme fixed" ng-click="showCards()" ng-hide="cards.length">
        Ajouter un moyen de paiement
    </button>
    <button class="button button-theme fixed" ng-click="confirmBooking()" ng-show="cards.length">
        Suivant
    </button>
</ion-view>
