<ion-view view-title="Réservations" >

    <ion-content>
        <ion-refresher pulling-text="Glissez de haut en bas pour rafraîchir..." on-refresh="doRefresh()" ></ion-refresher>

        <div class="product-list-item" ng-repeat="reservation in reservations">
            <div class="list card">
                <div class="item">

<!--
                    <img src="img/sample_images/people/2.jpeg">


-->
                    <div  style="text-align: right">
                    <h2> {{reservation.reservationInfo.status }}</h2>
                    </div>


                    <h1> {{reservation.providerInfo.firstname }} {{reservation.providerInfo.lastname }}</h1>



                   <!-- <a class="button icon button-block button-calm icon-right"
 ng-class="{'button-balanced': reservation.reservationInfo.status == 'open', 'button-assertive': reservation.reservationInfo.status  == 'closed'}">
-->

                    <div  style="text-align: right">
                    <h2>{{reservation.reservationInfo.reservation_date | date:'dd/MM/yyyy' }}
                     {{(reservation.reservationInfo.betweenFrom === reservation.reservationInfo.betweenTo ? '' +
                        reservation.reservationInfo.betweenFrom :  'Entre:' + reservation.reservationInfo.betweenFrom
                        + ' Et: ' + reservation.reservationInfo.betweenTo)}} </h2>

                    </div>


                    <div  style="text-align: left; font-family: Chalkboard; font-size: large">
                        <!-- <h2> Pour:</h2> -->
                        <div  ng-repeat="service in reservation.serviceInfo">
                            <h3>{{service.description}} ({{service.price}} {{((service.cur === "") ? 'eur':'€')}})  </h3>
                        </div>
                    </div>


                    <div ng-if="(reservation.reservationInfo.status === 'Confirmé')" class="">
                    <button  ng-click="switchCompleted(isSelected,reservation.reservationInfo.res_id)" class="button button-full button-clear">
                        Prestation effectuée
                    </button>
                    </div>

                    <div ng-if="(reservation.reservationInfo.status === 'Confirmé')" class="">
                        <button  ng-click="cancelBooking(reservation.reservationInfo.res_id)" class="button button-full button-clear" >
                            Annuler réservation
                        </button>
                    </div>
<!--
                    <div class="">
                        <ion-checkbox ng-change="switchCompleted(isSelected,reservation.reservationInfo.res_id)"
                                      ng-model="reservation.reservationInfo.completed"
                                      ng-if="reservation.reservationInfo.status === 'Confirmé'"
                                      ng-checked="isSelected">
                           Annuler
                        </ion-checkbox>
                        &lt;!&ndash;                        <button class="action-button icon-left button button">
                                                    Prestation terminée
                                                </button>&ndash;&gt;


                    </div>

                    <div class="">
                        <ion-checkbox ng-change="switchCompleted(isSelected,reservation.reservationInfo.res_id)"
                                      ng-model="reservation.reservationInfo.completed"
                                      ng-if="reservation.reservationInfo.status === 'Confirmé'"
                                      ng-checked="isSelected">
                            Payer
                        </ion-checkbox>
                       <button class="action-button icon-left button button">

                        </button>
                    </div>-->

                    <div  style="text-align: center">
                        <span> Réservation faite le {{reservation.reservationInfo.createdon_ts_server.date }}/{{reservation.reservationInfo.createdon_ts_server.months }}/{{reservation.reservationInfo.createdon_ts_server.years }} à {{reservation.reservationInfo.createdon_ts_server.hours }}h:{{reservation.reservationInfo.createdon_ts_server.minutes }}m</span>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

<!--    <ion-content>

        <div class="product-list-item" ng-repeat="reservation in reservations">
                <div  ng-repeat="service in reservation.serviceInfo">
                    &lt;!&ndash;<h4>{{service.description}} {{service.price}} {{(service.cur ? 'eur':'€')}} </h4>&ndash;&gt;
                    <h4>{{service.description}} {{service.price}} {{(service.cur ? 'eur':'€')}} </h4>
                </div>
        </div>

    </ion-content>-->
<!--
    <ion-content>
       &lt;!&ndash; &lt;!&ndash;overflow-scroll="true" padding="true"&ndash;&gt;&ndash;&gt;
        <div class="product-list-item" ng-repeat="reservation in reservations">

            <div class="card-4" ng-controller="">

                <div class="list card">

                    <div class="item item-avatar">

                        <img src="img/sample_images/people/2.jpeg">

                        <h2> {{reservation.providerInfo.firstname }} {{reservation.providerInfo.lastname }}</h2>



                         <div  ng-repeat="service in reservation.serviceInfo">
                            <h4>{{service.description}} {{service.price}} {{(service.cur ? 'eur':'€')}} </h4>

                        </div>



                        <div class="row">
                            <button class="button button-small" ng-click="showDetails(provider)">
                                Détails
                            </button>
                            <button class="button button-small button-positive" ng-click="bookPerService(provider)">
                                Réserver
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </ion-content>-->

</ion-view>

<!--        <script id="details-modal.html" type="text/ng-template">// <![CDATA[


        <ion-modal-view>


            <style>
                @media (max-width: 680px) {
                    .active .modal-backdrop-bg {
                        opacity: .5;
                        transition: opacity 300ms ease-in-out;
                        background-color: #000;
                    }
                }
            </style>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">Home</a>
                            <div class="list-group-item">
                                List header
                            </div>
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    List group item heading
                                </h4>
                                <p class="list-group-item-text">
                                    ...
                                </p>
                            </div>
                            <div class="list-group-item">
                                <span class="badge">14</span>Help
                            </div> <a class="list-group-item active"><span class="badge">14</span>Help</a>
                        </div>
                    </div>
                </div>
            </div>

        </ion-modal-view>
        // ]]></script>-->

<!--        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()" ></ion-refresher>
-->
<!--        <ion-scroll zooming="true" direction="xy" style="width: 500px; height: 5000px">
            <div style="width: 5000px; height: 5000px;">

                <div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div><div> qsdqsd</div>

            </div>
        </ion-scroll>-->

<!--
        <div style="position:absolute; top:0; right:0: bottom:0; left:0; overflow-y:scroll; overflow-x: hidden">
-->



        <!--</div>-->
    <!--<div ng-if="reservations.length > 0">-->
   <!-- <ion-list>


    </ion-list>-->

      <!--  <ion-list  ng-if="reservations.length > 0"  ng-repeat="reservation in reservations">
            <ion-item nav-clear class="item-icon-right item-avatar" ng-click="doRefresh();">

                {{reservation.reservationInfo.reservation_date | date:'dd-M-yyyy'}}

                <br>
                <span>
                   Avec: {{reservation.providerInfo.firstname }} {{reservation.providerInfo.lastname }}
                </span>
                <br>

                <span>

                    Entre: {{reservation.reservationInfo.betweenFrom  | date:'HH:mm' }}
                   Et: {{reservation.reservationInfo.betweenTo  | date:'HH:mm' }}
            </span>
                <br>
                <span> Services:</span>

                <div  ng-repeat="service in reservation.serviceInfo">
                    <span> {{service.description}} {{service.price}} {{(service.cur ? 'eur':'€')}} </span>
                    <br>
                </div>

            </ion-item>

        </ion-list>
-->
<!--
    </div>
-->








<!--
<ng-include src="footer.html"></ng-include>
-->
