<ion-view class="book-address">
    <ion-content>
        <div class="recap-wrapper">
            <h1 class="title-theme">Recap</h1>
            <h2 class="service-title">{{reservation.service}}</h2>
            <h3>{{reservation.provider}}</h3>
            <h4>{{reservation.date | date: 'EEEE, d MMMM'}},</h4>
            <h4>à {{reservation.betweenFrom}}.</h4>
        </div>
    </ion-content>
    <button class="button button-theme fixed" ng-click="confirmBooking()">
        Suivant
    </button>
</ion-view>
