<ion-view view-title='<img class="title-image" src="img/logo.png" />' class="book-home-view">

<ion-content >
    <label class="item item-input address-search">
      <form class="container">
        <input type="text" placeholder="Votre adresse">
      </form>
    </label>
    <button type="button" class="icon icon-filter" ng-click="showFiltersPopup()"></button>


    <ion-list>
   
        <ion-card ng-repeat="subgroup in subgroups" 
                  ng-click="openSubgroup(subgroup)"
                  ng-class="{active: isGroupShown(group)}">
          
            <img ng-src='{{subgroup.img}}'/>
            <ion-card-content>
              <ion-card-title>
                {{subgroup.name}}
              </ion-card-title>
            </ion-card-content>

        </ion-card>

    </ion-list>

  </ion-content>
</ion-view>