<ion-view class="providers-list-view">
    <ion-content>
        <div class="products-list background-gray">
            <div class="product-list-item" ng-repeat="provider in providers">
                <div class="card-4">
                    <div class="list card">
                        <div class="item" ng-click="bookPerService(provider)">
                            <img src="{{provider.picture}}">
                            <div class="description">
                                <h2 class="name">{{provider.firstname}} {{provider.lastname}}</h2>
                                <h4 class="price">€€</h4>
                                <div class="row">
                                    <span class="name-text">{{provider.qualification1}}
                            {{provider.qualification2 ? '|' : ' '}}
                            {{provider.qualification2}}
                            {{provider.qualification3 ? '|' : ' '}}
                            {{provider.qualification3}}
                            {{provider.qualification4 ? '|' : ' '}}
                            {{provider.qualification4}}
                          </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
