<ion-view class="providers-list-view">
    <ion-content>
        <div class="products-list background-gray">
        <div class="no-reservations" ng-hide="!providers ||  providers.length">
          <h4>Désolé, il n'y a pas de prestataires pour cette catégorie.</h4>


        </div>
            <div class="product-list-item" ng-repeat="provider in providers">
                <div class="card-4">
                    <div class="list card">
                        <div class="item" ng-click="bookPerService(provider)">
                            <img src="http://alphalabx.com:3000/{{provider.picture}}">
                            <div class="description">
                                <h2 class="name">{{provider.firstname}} {{provider.lastname}}</h2>
                                <h4 class="price">€€</h4>
                                <div class="row">
                                    <span ng-repeat="single_service in provider.services" class="name-text">
                                      {{single_service.service.title}} | &nbsp;
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
