.profile-pic {
  padding: 35px;
  position: relative;
  height: 100px;
  img {
    display: block;
    position: absolute;
    left: 35%;
    width: 30%;
    top: 25%;
    @include border-radius(50%);
    border: solid 2px white;
  }
}
